*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container img {
    width: 100%; 
    height: 250px;
    object-fit: cover; 
    border: none;
}
#spinner {
    display: none; /* Hide by default */
    margin: 20px auto; /* Center the spinner */
}
